@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-base: 198 31% 6%;
		--color-base: 0 0% 0%;
		--bg-container: 198 32% 100%;
		--color-primary: 191 81% 19%;
	}
	:root[data-theme='dark'] {
		--bg-base: 198 31% 96%;
		--color-base: 0 0% 100%;
		--bg-container: 198 32% 14%;
		--color-primary: 191 81% 19%;
	}
	* {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}
	body {
		@apply min-h-screen font-raleway container max-w-full mx-auto;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
		font-weight: inherit;
	}
	ol,
	ul {
		@apply list-none;
	}
	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		@apply block align-middle;
	}
}

@layer components {
	.froala ul li {
		@apply list-[inherit] ml-10;
	}
	.froala ol li {
		@apply list-[inherit] ml-10;
	}
	.froala h1 {
		@apply text-h1;
	}
	.froala h2 {
		@apply text-h2;
	}
	.froala h3 {
		@apply text-h3;
	}
	.froala h4 {
		@apply text-h4;
	}
	.froala h5 {
		@apply text-h5;
	}
	.froala h6 {
		@apply text-h6;
	}
	.froala p {
		@apply text-p;
	}
}

.ant-tabs-tab-btn {
	display: flex;
	align-items: center;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
	border-inline-end: unset;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: var(--bg-container);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #5c5c7b;
	border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #7878a3;
}
